@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Roboto:wght@400;500&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css');


$font-primary:"Roboto", sans-serif;
$font-secondary:"Poppins", sans-serif;

$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;


$font-size-base: 16px;
$font-size-small: 12px;
$font-size-h1: 100px;
$font-size-h2: 32.25px;
$font-size-h3: 25px;
$font-size-h4: 20px;

$color-background:#E5E5E5;
$color-primary:#E27B3A;

$color-text-primary:#170C04;
$color-background-products:#FCF2EB;
$color-white: #FFFFFF;

%paragraph {
    font: {
        family: $font-primary;
        weight: $font-weight-normal;
        size: $font-size-base;
     }

     text-align: center;
     line-height: 24px;
     color: $color-text-primary;
     opacity: 60%;
}

body {
    font-family: $font-primary;
    font-weight: $font-weight-normal;
    color: $color-text-primary;
}

header {
    position: fixed;
    margin: 0 auto;
    width: 100%;
    z-index: 100;
    background-color: rgba(255, 255, 255, .7);
}

.container {
    max-width: 1180px;
    padding: 0 20px;
    margin: 0 auto;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.logo__img {
    display: flex;
    column-gap: 6px;
    cursor: pointer;

    & .logo__text {
        display: flex;
        align-items: center;
        font-weight: $font-weight-medium;
        color: #000;
        font-size: 22px;
    }
}

.menu__list {
    display: flex;
    column-gap: 55px;
}

.nav__link {
    font-weight: $font-weight-medium;
    color: $color-text-primary;
    line-height: 18px;

    &:hover {
        color: $color-primary;
        font-weight: $font-weight-medium;
        text-decoration: none;
    }
}

.user-nav {
    display: flex;
    align-items: center;
    column-gap: 40px;
    
}

.hero {
    padding-top: 100px;
}

.hero__wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 130px;
    
    & .hero__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 136px;
    }

    & .hero__img {
        max-width: 614px;
        width: 100%;
    }
        & img {
            width: 100%;
        }

}

.menu__btn {
    width: 23px;
    height: 18px;
    position: relative;
    display: none;
}

.menu__btn span {
    width: 100%;
    height: 2px;
    background-color: #000;
    top: 8px;
    position: absolute;
}

.menu__btn::after,
.menu__btn::before {
    content: '';
    width: 100%;
    height: 2px;
    background-color: #000;
    position: absolute;
}

.menu__btn::after {
    top: 0; 
    transition: top .3s .15s, transform .3s;
}

.menu__btn::before {
    bottom: 0;
    transition: bottom .3s .15s, transform .3s;
    
}

.menu__btn.active::after {
    transform: rotate(-45deg);
    top: 8px;
    transition: top .3s, transform .3s .15s;
}

.menu__btn.active::before {
    transform: rotate(45deg);
    bottom: 8px;
    transition: bottom .3s, transform .3s .15s;
}

.menu__btn.active span {
    opacity: 0;
}


h1 {
    font-family: $font-secondary;
    font-weight: $font-weight-bold;
    font-size: $font-size-h1;
    color: $color-text-primary;
    line-height: 120px;
    margin: 120px 0;
}

// BUTTONS

.button {
    display: inline-block;

    padding: 12px 30px;
    border: 1px solid $color-primary;
    border-radius: 24px;
    color: $color-primary;
    line-height: 24px;
    text-align: center;
    transition: all .5s;
    background-color: $color-white;

    &:hover{
        color: $color-white;
        background-color: $color-primary;
        text-decoration: none;
    }
}

.button-orange {
    color: $color-white;
    background-color: $color-primary;
    border: 1px solid transparent;
    text-decoration: none;
    margin-right: 20px;
    display: inline-block;
    text-align: center;

    &:hover{
        background-color: $color-text-primary;
        border: 1px solid $color-text-primary;
    }
}

.button-primary {
   border: none;

   &:hover {
        color: $color-white;
        background-color: $color-primary;
        text-decoration: none;
   }
}

.foods__items {
    display: flex;
    gap: 30px;
    margin-bottom: 130px;

    & .foods__item {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 33.333%;
    
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        background-color: $color-white;

        &:hover{
            border: 1px solid $color-white;
            box-shadow: 0 0 15px rgba(226, 123, 58, .3);
            transition:  box-shadow 1s ease;
        }

        & .foods__item-bg {
            background-repeat: no-repeat;
            width: 63px;
            height: 54px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            left: 50%;
            right: 50%;
            transform: translate(-50%, -50%);
        }

        & .foods__item-bg-1 {
            background-image: url(../img/icons/bg-icon1.png);
        }

        & .foods__item-bg-2 {
            background-image: url(../img/icons/bg-icon2.png);
        }

        & .foods__item-bg-3 {
            background-image: url(../img/icons/bg-icon3.png);
        }

        & .foods__content {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 40px 18px 25px;
        
            & .foods__text {
                @extend %paragraph;
                margin-bottom: 24px;
                padding: 0 6px;
            }
        }
    }
}


h3 {
    font: {
       family: $font-secondary;
       weight: $font-weight-normal;
       size: $font-size-h3;
    }

    text-align: center;
    line-height: 38px;
    color: $color-text-primary;
    margin-bottom: 10px;
    padding: 0 4px;
}

h2 {
    font: {
       family: $font-secondary;
       weight: $font-weight-medium;
       size: $font-size-h2;
    }

    text-align: center;
    line-height: 48px;
    color: $color-text-primary;
    margin-bottom: 18px;
}



.popular-products__text {
    @extend %paragraph;
    max-width: 505px;
    margin: 0 auto 25px;
}

.popular-products__items {
    display: flex;
    gap: 30px;
    margin-bottom: 57px;
    justify-content: space-between;
}

.popular-products__item {
    width: 50%;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}


.popular-products__item-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 420px;
    background-color: $color-background-products;
    border-radius: 20px;
    
}

.popular-products__item-bg img {
    object-fit: cover;
    max-width: 100%;
}


.popular-products__item-bg-small {
    height: 273px;
}

.popular-products__subtitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dog-care {
    padding-block: 50px 86px;
}

.dog-care__wrapper {
    display: flex;
    

}

.dog-care__img img{
    max-width: 100%;
    width: 100%;
}

.dog-care__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    max-width: 488px;

    & .dog-care__title {
        color: $color-primary;
        font-weight: $font-weight-medium;
        text-transform: uppercase;
        line-height: 18px;
        letter-spacing: 4px;
        margin-bottom: 4px;
    }

    & h2 {
        text-align: left;
        margin-bottom: 18px;
    }

    & p{
        @extend%paragraph;
        text-align: left;
        margin-bottom: 40px;
    }
}

.subscription-work__wrapper {
    margin-bottom: 120px;

    & h2 {
        margin-bottom: 36px;
    }

    & .buttons {
        text-align: center;
        & .button-orange{
            margin-right: 0;
        }
    }

}

.subscription-work__items {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
    margin-bottom: 46px;

    & .subscription-work__item {
        width: 33.333%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    & .subscription-work__img {
        margin-bottom: 51px;
        & img {
            width: 100%;
            object-fit: contain;
        }
    }

    & p{
        @extend%paragraph;
        margin-bottom: 15px;
    }

    & h4 {
        font-family: $font-secondary;
        font-size: $font-size-h4;
        font-weight: $font-weight-medium;
        text-align: center;
        line-height: 28px;
        margin-bottom: 22px;
    }
}

.products-gallery__wrapper {
    display: flex;
    justify-content: space-between;
    column-gap: 31px;  
    margin-bottom: 120px;
}

.products-gallery__content {
    max-width: 50%;
    & p{
        @extend%paragraph;
        margin-bottom: 26px;
    }
}

.products-gallery__item-right {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(196, 21, 75, .1);
    max-width: 555px;
    width: 100%;
    height: 509px;
    border-radius: 10px;
    flex-grow: 1;
}

.products-gallery__items {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;

    & .bg-purpure {
        background-color: rgba(36, 61, 126, .1);
    }

    & .bg-bord {
        background-color: rgba(128, 1, 37, .1);
    }

    & .bg-pink {
        background-color: rgba(196, 140, 174, .1);
    }
}

.products-gallery__item {
    max-width: 262px;
    width: 100%;
    height: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgba(144, 10, 8, .1);
    border-radius: 10px;
}

.products_testimonial-slider__item {
    max-width: 556px;
    border-radius: 10px;
    margin: 20px auto;
    padding: 30px;
    position: relative;
    text-align: center;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.06);
}

.products_testimonial-slider__item-content p{
    
    @media (max-width:1010px) {
        max-height: 120px;
        overflow: hidden; 
        padding: 5px; 
    }
}

.products_testimonial-slider__wrapper {
    max-width: 600px;
    padding: 20px;
    margin: 0 auto;
}

.products_testimonial-slider__item::before {
    content: '';
    background-image: url(../img/products-testimonial/quote.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 41px;
    height: 38px;
    top: 30px;
    left: 30px;
}

.products_testimonial-slider__item::after {
    content: '';
    background-image: url(../img/products-testimonial/quote.png);
    position: absolute;
    background-repeat: no-repeat;
    width: 41px;
    height: 38px;
    bottom: 30px;
    right: 30px;
    transform: rotate(180deg);
}


.products_testimonial__img img {
    border-radius: 50%;
    margin-bottom: 20px;
}

.products_testimonial-slider__item-content p {
    color: $color-text-primary;
    opacity: 70%;
}

.products_testimonial__stars {
    margin-bottom: 24px;
}

.fa-star {
   font-size: 15px;
}

.fa-solid {
    color: $color-primary;
}

.star-grey {
    color: #E2E2E2;
}

.products_testimonial__author {
    margin-bottom: 4px;
}

.products_testimonial__position {
    font-size: $font-size-small;
    opacity: 60%;
}


//slider

.products_testimonial-slider {
    min-width: 0;
    position: relative;
    margin-bottom: 70px;
}

.slick-track {
    display: flex;
    align-items: center;
}

.slick-list {
    overflow: hidden;
    margin-bottom: 20px;
} 

.slick-disabled {
    opacity: 50%;
}

.slick-slide {
    opacity: 50%;
}

.slick-center {
    opacity: 1;
}

.slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.slick-dots li {
    list-style: none;
    display: inline-flex;
}

.slick-dots button {
    font-size: 0;
    width: 10px;
    height: 10px;
    background-color: #170c04;
    border-radius: 50%;
    padding: 0;
    border: 0;
    cursor: pointer;
}

.slick-active button {
    background-color: transparent;
    border: 2px solid #170C04;
}


//subscription section

.subscription-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 96px;
    background: url(../img/products-testimonial/Rectangle-blue.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 102px 70px;
    margin-bottom: 70px;

    @media (max-width:1110px) {
        padding: 82px 60px;
        gap: 32px;
    }

    @media (max-width:988px) {
        padding: 64px 60px;
        gap: 15px;
    }

    @media (max-width:970px) {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

    @media (max-width:620px) {
        background-color: #2E96FF;
        border-radius: 10px;
        padding: 38px 10px;
    }
    
}

.subscription__content {
    flex: 0 0 423px;

    @media (max-width:970px) {
        flex: 0 0 400px;
    }

    @media (max-width:460px) {
        flex: 0 0 242px;
    }

} 

.subscription__title {
    color: $color-white;
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 18px;

    @media (max-width:970px) {
        font-size: 25px;
    }

    @media (max-width:942px) {
      font-size: 25px; 
    }
}

.subscription__content p {
    color: $color-white;
    opacity: 70%;
    line-height: 24px;
}

.subscription__email {
    flex: 1 0 372px;

    @media (max-width:970px) {
        flex: 0 0 372px;
    }

    @media (max-width:460px) {
        flex: 0 0 242px;
    }
   
}

.subscription__form {
    display: flex;

    @media (max-width:460px) {
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
    }

}

.email__input {
    display: block;
    border: none;
    max-height: 70px;
    max-width: 100%;
    width: 100%;
    border-radius: 10px 0px 0px 10px;
    padding: 14px 21px;
    background-color: $color-white;
    color: rgba(23, 12, 4, 1);
    line-height: 40px;

    @media (max-width:970px) {
        max-height: 50px;
    }

    @media (max-width:460px) {
        border-radius: 10px;
    }
  
}

.email__input:active,
.email__input:focus,
.email__button:active,
.email__button:focus {
   outline: none;
}

.email__button {
    display: block;
    border: none;
    border-radius: 0px 10px 10px 0px;
    background-color: #E27B3A;
    color: $color-white;
    font-size: 18px;
    line-height: 40px;
    padding: 16px 36px;
    max-height: 70px;
    cursor: pointer;

    @media (max-width:970px) {
        max-height: 50px;
        padding: 0px 24px;
    }

    @media (max-width:460px) {
        border-radius: 10px;
        max-width: 100%;
        width: 100%;
    }

}

//adaptive

@media(max-width:1180px) {

    .products-gallery__items {
        justify-content: center;
    }

    .products-gallery__item {
        max-width: calc(50% - 16px);    
}

    .products-gallery__item img,
    .products-gallery__item-right img {
        max-width: 100%;
        max-height: 100%;
        padding: 10px;
    }

}


@media(max-width:1140px){
    h1 {
        font-size: 80px;
        line-height: 116px;
        margin: 110px 0;
    }

    .hero__img {
        text-align: right;
    }

}

@media(max-width:1040px){

    .products-gallery__wrapper {
        gap: 14px;
    }
}


@media(max-width:1010px){
    h1 {
        font-size: 68px;
        line-height: 100px;
        margin: 64px 0;
    }

    .hero__img img {
        max-width: 90%;
    }

    .hero__wrapper {
        margin: 50px 0 60px;
    }

    .products-gallery__item {
        max-width: calc(50% - 8px);    
    }

    .products-gallery__items {
        gap: 14px;
    }

    .products-gallery__wrapper {
        gap: 14px;
    }
}
    

@media(max-width:932px) {
    .dog-care__content {
        max-width: 400px;
    }

    .products-gallery__wrapper {
        flex-wrap: wrap;
        gap: 16px;
    }

    .products-gallery__content {
        max-width: 100%;
    }

    .products-gallery__item-right {
        max-width: 100%;
        height: 300px;
    }
}


@media(max-width:858px){
    h1 {
        font-size: 64px;
        line-height: 86px;
        margin: 48px 0;
    }

    .hero__img img {
        max-width: 84%;
    }

    .popular-products__items {
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .popular-products__item {
        width: 44%;
    }

    .popular-products__item-bg {
        height: 300px;
    }

    .popular-products__item-bg img {
        width: 72%;
    }

    .popular-products__item-small {
        width: 30%;
    }

    .popular-products__item-bg-small {
        height: 224px;
    }

    h3 {
        font-size: 22px;
        line-height: 34px;
    }

    .dog-care__img {
        max-width: 70%;
        margin: 0 auto;
    }

    .dog-care__wrapper {
        flex-wrap: wrap-reverse;
    }

    .dog-care__content {
        max-width: 100%;
        text-align: center;
      
    }

    .dog-care__content p,
    .dog-care__content h2 {
        text-align: center;
        padding: 0 50px;
    }

}


@media (max-width:784px) {
    .menu__list {
        column-gap: 37px;
    }

    .user-nav {
        column-gap: 29px;
    }

    h3 {
        font-size: 21px;
        line-height: 32px;
    }

    .foods__items {
        flex-wrap: wrap;
        row-gap: 40px;
    }

    .foods__items .foods__item {
        width: 64%;
        margin: 0 auto;
        row-gap: 40px;
    }

    .subscription-work__items {
        flex-wrap: wrap;
        gap: 20px;

        .subscription-work__item {
            width: 100%;
        }

        p {
            padding: 0px 70px 0;
        }
    }
}


@media (max-width:767px) {

    .menu__btn {
        display: block;
    }

    .menu__list {
        display: none;
        position: absolute;
        height: 100vh;
        top: 90px;
        left: 0;
        width: 100%;
        text-align: center;
        background-color: $color-background-products;
        z-index: 5;
        padding-block: 40px;
    }

    .menu__item a {
        display: block;
        padding: 10px 0;
        font-size: 28px;
        margin-bottom: 20px;
    }

    .hero__wrapper .hero__img {
        position: absolute;
        max-width: 64%;
        opacity: 50%;
        z-index: -1;
        left: 50%;
        right: 50%;
        transform: translate(-50%, 0%);
    }

    .hero__content {
        margin: 0 auto;
    }

    h1, 
    .buttons  {
        text-align: center;
    }

}

@media (min-width: 768px) {
    .menu__list {
        display: flex !important;
    }
   
}

@media (max-width: 580px) {

    .popular-products__items {
        margin-bottom: 20px;
    }

    .popular-products__item {
        width: 70%;
    }

    .popular-products__item-bg img {
        width: 80%;
    }
   
    .popular-products__item-bg-small {
        height: 300px;
    }

    .subscription-work__items .subscription-work__item p {
            padding: 0px 20px 0;
    }

    .hero__wrapper {
        flex-wrap: wrap;
        margin-top: 0;
    }

    .hero__wrapper .hero__img {
        position: relative;
        opacity: 100%;
        max-width: 100%;
    }

    .hero__wrapper .hero__content {
        margin-bottom: 80px;
    }

    .dog-care__img {
        max-width: 80%;
        margin: 0 auto;
    }

    h1 {
        margin-top: 0;
        margin-bottom: 20px;
    }
}


@media (max-width: 482px) {
    .foods__items .foods__item {
        width: 100%;
    }

    .popular-products__item {
        width: 100%;
    }
   
    .dog-care__content p, .dog-care__content h2 {
       
        padding: 0 10px;
    }

    .dog-care__content .button {
        margin: 0 0 20px 0;
    }

    .dog-care__img {
        max-width: 100%;
        margin: 0 auto;
    }
}


@media (max-width: 330px) {
 .button-orange {
    margin-right: 9px;
 }

}

//footer

.footer {
    
    height: 363px;
    width: 100%;
    margin: 0 auto;
    background-image: url(../img/footer/footer.png);
    background-position: bottom;
    background-size: 100% 100%;
    padding-block: 74px;

    @media (max-width:821px){
        background-color: $color-text-primary;
        height: 100%;
    }
}

.footer__wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer__navigation-columns {
    display: flex;
    justify-content: space-between;
    text-align: center;

    @media (max-width:821px){
        flex-wrap: wrap;
        justify-content: center;
    }
}


.footer__logo {
    width: 48px;
    height: 52px;
    margin: 0 auto 12px;
    cursor: pointer;
}

.footer__logo img {
    max-width: 100%;
    width: 100%;
   
}

.footer__navigation {
    flex: 1 0 300px;
    @media (max-width:821px){
        flex: 1 0 100%;
    }
}

.footer__navigation-left {
    display: flex;
    flex-direction: column;
    gap: 36px;
    text-align: left;

    @media (max-width:821px){
       text-align: center;
       gap: 16px;
       margin-bottom: 16px;
    }
}

.footer__navigation-right {
    display: flex;
    flex-direction: column;
    gap: 36px;
    text-align: right;

    @media (max-width:821px){
        text-align: center;
        gap: 16px;
     }
}

.footer a {
    color: $color-white;
    opacity: 80%;
    line-height: 18px;
    text-decoration: none;
    transition: color .3s;

    &:hover {
        color: #E27B3A;
        opacity: 1;
    }
} 

.footer__mailto {
    color: #E27B3A;

}

.footer__title {
    font-weight: $font-weight-medium;
    font-size: 26px;
    line-height: 30px;
    display: block;
}

.footer__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @media (max-width:821px){
        order: -1;
     }
}


.footer__site-links {
    display: flex;
    gap: 25px;
    align-items: center;

   
}

.footer__site-link {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-color: $color-white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .5s;

    &:hover {
        background-color: $color-primary;
        svg {
            path {
                fill: $color-white; 
            }
        }
    }

    @media (max-width:821px){
        margin-bottom: 30px;
     }
}

.footer__logo-title {
    margin-bottom: 62px;

    @media (max-width:821px){
        margin-bottom: 30px;
     }
}





